<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="{% url "index" %}" class="navbar-brand">Course App</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url "index" %}" class="nav-link">Courses</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About Us</a>
            </li>
        </ul>
        <form class="d-flex" action="{% url "search" %}">
            <input class="form-control me-2" type="text" name="q" placeholder="Keyword">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
    </div>
</nav>