{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "courses/css/style.css" %}">
{% endblock %}

{% block page_title %}
{% endblock page_title %}

{% block content %} 
    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                   <p>
                        Do you want to delete the course named <strong>{{ course.title }}</strong> 
                   </p>

                   <form action="{% url "course_delete" course.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">YES</button>
                        <a href="{% url "course_list" %}" class="btn btn-success">NO</a>
                   </form>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block js_files %}
    <script src="{% static "courses/js/script.js" %}"></script>
{% endblock js_files %}